# Python
venv/
__pycache__/

# Node
node_modules/
build/

# Arquivos de testes e temporários
__pycache__/
*.pyc
*.pyo
*.pytest_cache/
test_utils.py

# Misc
.env
.DS_Store
# Removido: backend/
# Removido: frontend/
